/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@500;600;700&display=swap');

/* VARIABLES */
:root {
    --primary-color: #5762D5;
    --light: #F1F2EB;
    --dark: #32292F;
    --mid: #575363;
    --title: 'Dosis', 'Poppins', Helvetica, sans-serif;
    --header: 'Bebas Neue', Impact, sans-serif;
    --body: 'Poppins', Helvetica, sans-serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION */
nav {
    margin-bottom: 15vh;
}
#avatar {
    max-width: 80px;
}

#navbar-toggle {
    text-align: center;
    background-color: #FFFFFF;
}

.navbar-brand, .nav-link {
    font-family: var(--header);
    font-size: 2.4rem;
    color: var(--mid) !important;
}


/* HERO / INTRO */
#home {
    height: 100vh;
}

.row {
    align-items: center;
}

.intro-text {
    background-color: #FFFFFF;
    font-family: var(--title);
    text-align: center;
    color: var(--dark);
}

.standout {
    background-color: var(--primary-color);
    color: var(--light);
    font-weight: 700;
    padding: 5px 10px;
}

h1 {
    font-size: 3rem;
}

.subtitle {
    font-size: 2rem;
}

.hero {
    /* margin-bottom: 15vh; */
}

.hero img {
    max-width: 500px;
    object-fit: cover;
}


/* WORK */
.cards {
    background-color: var(--primary-color);
    padding: 50px;
}

h2 {
    font-family: var(--header);
    text-align: right;
    margin-bottom: 30px;
    font-size: 3.4rem;
}

.lgt-txt {
    color: var(--light);
}

.clr-txt {
    color: var(--primary-color);
}


/* CARDS */
.card {
    padding: 15px;
    margin: 10px 0px;
    background-color: var(--light);
    border-left: 5px var(--primary-color) solid;
    border-right: 5px var(--primary-color) solid;
}

.card-link {
    text-decoration: none;
}

.card-title {
    color: var(--primary-color);
    font-family: var(--header);
    font-size: 2rem;
    text-align: right;
}

.card-text {
    font-family: var(--body);
    color: var(--mid);
    text-align: right;
}

/* ABOUT */
#about {
    background-color: var(--light);
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1002px) {
    .intro-text {
        margin-top: -5rem;
        margin-bottom: -3rem;
    }
    .hero img {
        margin-right: 7vw;
    }
}

@media only screen and (max-width: 550px) {
    .hero img {
        max-width: 50vw;
    }
}